# -*-sh-*-

# When committing text files, convert platform line endings to LF in
# repository (and back)

*	text=auto
*.robot	licensefile=.githooks/LICENSE-hash
*.txt	licensefile=.githooks/LICENSE-hash
*.java	licensefile=.githooks/LICENSE-javadoc
