<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Robot Framework Textfile Editor"
            extensions="txt"
            icon="icons/robo1.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.otherone.robotframework.eclipse.editor.editors.RobotFrameworkTextfileEditor"
            id="org.otherone.robotframework.eclipse.editor.editors.RobotFrameworkTextfileEditor">
      </editor>
   </extension>

</plugin>
