<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Robot Framework Textfile Editor"
            extensions="txt,robot"
            icon="src/main/resources/robo1.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.nitorcreations.robotframework.eclipseide.editors.RobotFrameworkTextfileEditor"
            id="com.nitorcreations.robotframework.eclipseide.editors.RobotFrameworkTextfileEditor">
      </editor>
   </extension>
   <extension
         id="testProblem"
         name="Test Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="rfeBuilder"
         name="Robot Framework Validator Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.nitorcreations.robotframework.eclipseide.builder.RobotBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="rfeNature"
         name="Robot Framework Validator Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.nitorcreations.robotframework.eclipseide.builder.RobotNature">
         </run>
      </runtime>
      <builder
            id="com.nitorcreations.robotframework.eclipseide.rfeBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.nitorcreations.robotframework.eclipseide.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.nitorcreations.robotframework.eclipseide.builder.ToggleNatureAction"
               enablesFor="+"
               icon="src/main/resources/robo1.png"
               id="com.nitorcreations.robotframework.eclipseide.addRemoveNatureAction"
               label="Add/Remove Robot Framework Validation Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.nitorcreations.robotframework.eclipseide.preferences.MainPreferencePage"
            id="com.nitorcreations.robotframework.eclipseide.preferences.MainPreferencePage"
            name="Robot Framework">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.nitorcreations.robotframework.eclipseide.preferences.ColorPreferencePage"
            id="com.nitorcreations.robotframework.eclipseide.preferences.ColorPreferencePage"
            category="com.nitorcreations.robotframework.eclipseide.preferences.MainPreferencePage"
            name="Syntax Coloring">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.nitorcreations.robotframework.eclipseide.preferences.TableNamingPreferencePage"
            id="com.nitorcreations.robotframework.eclipseide.preferences.TableNamingPreferencePage"
            category="com.nitorcreations.robotframework.eclipseide.preferences.MainPreferencePage"
            name="Table naming">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.nitorcreations.robotframework.eclipseide.preferences.FormattingPreferencePage"
            id="com.nitorcreations.robotframework.eclipseide.preferences.FormattingPreferencePage"
            category="com.nitorcreations.robotframework.eclipseide.preferences.MainPreferencePage"
            name="Formatting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.nitorcreations.robotframework.eclipseide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!--
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JavaApplicationShortcut.label"
            icon="icons/full/etool16/java_app.png"
            helpContextId="org.eclipse.jdt.debug.ui.shortcut_local_java_application"
            modes="run, debug"
            class="org.eclipse.jdt.internal.debug.ui.launcher.JavaApplicationLaunchShortcut"
            id="org.eclipse.jdt.debug.ui.localJavaShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                   <instanceof value="org.eclipse.jdt.core.IJavaElement"/>
                 </or>
                 <test property="org.eclipse.jdt.debug.ui.hasMainType"/>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
      </shortcut>
    </extension>
-->
</plugin>
